@import '../../../styles/mixins';
@import '../../../styles/variables';

.ContentItem {
	display: grid;
	grid-auto-rows: minmax(0px, auto);
	grid-column-gap: 60px;
	grid-row-gap: 20px;
	grid-template-columns: 45px auto;
	padding-bottom: 60px;

	&__Date {

		p {
			@include title();
			text-align: right;
		}
	}

	&__View {

		h2 {
			@include title();
		}

		h3 {

			a {
				color: $black;
				text-decoration: none;
			}
		}
	}

	p {
		max-width: 540px;
	}
}
