@import '../../styles/mixins';
@import '../../styles/variables';

.Post {
	margin: 0 auto;
	max-width: $readwidth;
	padding-top: 100px;

	&__Title {
		padding-bottom: 30px;
	}

	&__Content {
		color: red;
	}
}
