@import '../../styles/mixins';
@import '../../styles/variables';

.ContentSelection {
	background-color: $transparentWhite;
	height: auto;
	max-height: 0px;
	opacity: 0;
	overflow: hidden;
	position: fixed;
	top: 0;
	transition: max-height 300ms ease, opacity 300ms ease;
	width: 100%;

	&__Wrapper {
		display: flex;
		flex-direction: row;
		padding-bottom: 60px;
		padding-top: 90px;
	}

	&__Open {
		max-height: 800px;
		opacity: 1;
		z-index: 3;
	}

	&__ShowForm {
		flex-wrap: nowrap;
	}

	&__Items {
		display: grid;
		grid-auto-rows: min-content;
		grid-column-gap: 60px;
		grid-row-gap: 20px;
		grid-template-columns: repeat(4, 125px);
		// transition: grid-template-columns 200ms ease;

		&_Slim {
			grid-template-columns: repeat(1, 50px);
		}
	}

	&__Item {
		cursor: pointer;
		display: flex;
		flex-direction: column;
		text-align: center;

		img {
			width: 100%;
			height: auto;
		}

		p {
			@include title();
		}

		&_Hide {
			opacity: 0.3;
			transition: opacity 200ms ease;

			&:hover {
				opacity: 0.8;
			}
		}
	}

	&__Display {
		max-width: 650px;
		opacity: 1;
		padding-left: 60px;
		transition: max-width 200ms ease, opacity 200ms ease;
		width: 100%;

		&_Hide {
			max-width: 0;
			opacity: 0;
		}
	}
}
